{% load static %}
<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chart</title>

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</head>

<body class="grey lighten-4">
    <!-- Page Content goes here -->
    <nav class="nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Currency rate history 📈</a>
        </div>
    </nav>

    <div class="container">
        <div class="chart-container">
            <canvas id="myChart"></canvas>

            <div class="row">
                <form id="post-form">{% csrf_token %}
                    <div class="row z-depth-1 card-panel teal lighten-5">
                        <!-- UAH -->
                        <div class="input-field col s2">
                        <input disabled value="1" id="disabled" type="text" class="validate">
                        <label for="disabled">UAH</label>
                        </div>

                        <!-- arrows -->
                        <div class="input-field col s1">
                        <svg viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" class="icon">
                            <path d="M18.19 4.49l-.7.7L20.29 8H7.5v1h12.79l-2.8 2.81.7.7 4.02-4.01-4.02-4.01zM6.51 12.19l-.7-.7-4.02 4.01 4.02 4.01.7-.7L3.71 16H16.5v-1H3.71l2.8-2.81z" fill="#00b9ff">
                            </path>
                        </svg>
                        </div>

                        <!-- USD -->
                        <div class="input-field col s2">
                        <input id="rate" type="number" class="validate" 
                            min="0" max="100" step="0.01" required>
                        <label for="rate">USD</label>
                        <div id="rate_error" class="error"></div>
                        </div>
                        
                        <!-- Date -->
                        <div class="input-field col s4">
                        <input id="date" type="date" min="2020-01-01" max="2020-12-31" required>
                        <label for="date">Date</label>
                        <div id="date_error" class="error"></div>
                        </div>

                        <!-- button -->
                        <div class="col s2 right">
                            <button id="save" class="btn waves-effect waves-light" type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
                <div id="output" class="input-field col s12"></div>
            </div>
        </div>
    </div>

    <script>
        var ajax_posting_url = "{% url 'ajax_posting' %}"
        var dates = {{ dates|safe }}
        var rates = {{ rates }}
    </script> 
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>