.nav {
    margin-bottom: 10px;
    background-color: #26a69a;
}

.btn {
    margin-top: 15px;
}

.chart-container {
    position: relative;
    height:40vh;
}

.error {
    color: red;
}

#myChart {
    margin-bottom: 20px;
}

#post-form {
    padding: 15px 0px 0px 20px;
}